*{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}


.menu-compra{
    display: flex;
    width: 400px;
    margin: auto;
   
    height: 200px;
}

.menu-compra img{
    
    margin: auto;
    display: flex;
    width: 400px;
    max-width: 900px;
    max-height: 600px;
    height: 290px;
}

.voltar{
   
    margin: auto;
    display: flex;
    justify-content: center;
}

.voltar a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
    border: solid 1.9px black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
}

.roupas{
    
    height: 100vh;
}

.roupa-box{
    border-radius: 50px;
    
    margin: auto;
    margin-top: 60px;
    padding-top: 30px;
    width: 80%;
    height: 80%;
    display: flex;
}

.roupa-imagem{
    border-radius: 30px;
    background-color: yellow;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 70px;
}

.descricao{
    
    margin: 100px;
    margin-right: 140px;
    height: 80%;
    width: 500px;
}

.descricao p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.tamanho-roupa{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.tamanho-roupa input{
    margin-right: 20px;
}

@media (max-width: 900px){
   .roupa-box{
       flex-direction: column;
       height: 800px;
   }
   .roupa-imagem{
       max-width: 400px;
       margin: auto;
   }  
      
       
   
   .descricao{
       margin: auto;
       max-width: 450px;
   }
    
   
}

@media (max-width: 450px){

    .menu-compra{
        max-width: 250px;
        display: flex;
       
    }
    .menu-compra img{
        
        
        max-width: 250px;
    }
    .roupa-box{
        flex-direction: column;
        height: 800px;
    }
    .roupa-imagem{
        max-height: 250px;
        max-width: 189px;
        margin: auto;
    }  
    .comentar textarea{
        
    
        max-width: 150px;
        margin: auto;
    }
    .botao-comprar{
        max-width: 150px;
    }
       
        
    
    .descricao{
        margin: auto;
        max-width: 150px;
    }
    
   
}

.botao-comprar{
   
    
    width: 200px;
    height: 100px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}



.botao-comprar button{
    background-color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.comentar{
    
    margin: auto;
    width: 190px;
    height: 60px;
   
}
.comentar textarea{
    margin-top: 90px;
    width: 200px;
    height: 100px;
    border-radius: 13px;
}