*{
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}

.menu-compra{
  
    height: 200px;
}

.menu-compra img{
    
    margin: auto;
    display: flex;
    width: 400px;
    max-width: 900px;
    max-height: 600px;
    height: 290px;
}

.voltar{
   
    margin: auto;
    display: flex;
    justify-content: center;
}

.voltar a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: black;
    border: solid 1.9px black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
}

.roupas{
    background-color: rgb(241, 225, 194);
    height: 100vh;
}

.roupa-box{
    
    margin: auto;
    margin-top: 60px;
    padding-top: 30px;
    width: 80%;
    height: 80%;
    display: flex;
}

.roupa-imagem{
    border-radius: 30px;
    background-color: yellow;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 70px;
}

.descricao{
    
    margin: 100px;
    margin-right: 140px;
    height: 80%;
    width: 800px;
}

.descricao p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.tamanho-roupa{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.tamanho-roupa input{
    margin-right: 20px;
}

@media (max-width: 540px){

}

@media (max-width: 450px){

    .roupas{
        background-color: aliceblue;
        max-width: 270px;
    }
    .roupa-box{
       
        
        max-width: 350px;
        flex-direction: column;
        background-color: red;
       
        
    }
    .menu-compra img{
        background-color: red;
        max-width: 350px;
        margin: auto;
    }

    .voltar{
        margin: auto;
        max-width: 350px;
    }

    .menu-compra{
        margin: auto;
        max-width: 350px;
    }

    .imagem-logo{
        max-width: 250px;
    }
    .roupa-imagem, .descricao{
        margin: auto;
        margin-top: 30px;
        max-width: 250px;
    }

    .roupa-imagem img{
        max-width: 350px;
      
    }
    .descricao{
        flex-direction: column;
        display: flex;
        justify-content: center;
        
        align-items: center;
    }

    .comprar input{
        margin-top: 30px;
        padding: 12px;
        width: 120px;
    }
}