*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  display: inline-block;

  padding: 40px;
  background-color: black;
}
.logo{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-bottom: 70px;
  background-color: red;
}

.logo h1{
  
  
  margin-left: 20px;
  text-align: center;
  color: white;
  width: 300px;
  font-size: 70px;
  position: absolute;
  font-weight: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
}

.menu a{
  
  text-align: center;
  background-color: white;
  margin-bottom: 100px;
  width: 80px;
  height: 25px;
  

  text-decoration: none;
  font-size: 20px;
  color: black;
}

.menu{
  
  margin-right: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  float: right;
  width: 200px;
  height: 200px;
  background-color: red;
}



.imagem{
  margin-left: 42%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 290px;
  height: 290px;
  background-color: black;
}

.imagem2{
  margin-left: 42%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 290px;
  height: 290px;
  background-color: black;
}

.imagem3{
  margin-left: 42%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  width: 290px;
  height: 290px;
  background-color: black;
}